/* ----------------------- FUENTES ----------------------- */
@font-face {
  font-family: "HVD_Rowdy";
  src: url(work/models/memorica/recursos/Type/HVD_Rowdy.otf) format("opentype");
  font-style: normal;
  -webkit-font-smoothing: subpixel-antialiased;
}

@font-face {
  font-family: "Bodoni";
  src: url(work/models/memorica/recursos/Type/Bodoni_72.ttc) format("truetype");
  font-style: normal;
  -webkit-font-smoothing: subpixel-antialiased;
}

@font-face {
  font-family: "GMX";
  src: url(work/models/memorica/recursos/Type/GMX) format("truetype");
  font-style: normal;
  -webkit-font-smoothing: subpixel-antialiased;
}

/* ----------------------- GENERAL ----------------------- */
html {
  font-size: 24px;
}

body {
  background-color: #000;
}

h1 {
  color: #FFF;
  font-family: "HVD_Rowdy";
  font-size: 5.5rem;
  text-align: center;
}

h2 {
  color: #FFF;
  font-family: "HVD_Rowdy";
  font-size: 2rem;
  text-align: center;
}

h3 {
  color: #FFF;
  font-family: "HVD_Rowdy";
  font-size: 1.5rem;
  text-align: center;
}

h5 {
  color: #FFF;
  font-family: "Bodoni";
  font-size: 2em;
}

p, li, ul {
  color: #FFF;
  font-family: "GMX";
  text-align: justify;
  word-wrap: break-word;
}

a {
  color: #FFF;
  line-height: 1.3rem;
}

a.caption, p.caption {
  font-family: "GMX";
  text-align: center;
  color: #FFF;
  margin-top: 1rem;
  margin-bottom: 0;
}

#loader {
  z-index: 5;
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #000;
  margin: 0;
}

#loader h1 {
  color: #FFF;
}

a.pop-over {
  color: #000 !important;
  background-color: #FFF;
  cursor: pointer;
  text-decoration: underline;
}

/* ----------------------- MENU ----------------------- */
.mini {
  width: 5.3%;
}

.modal-header h5 {
  color: #000;
  font-family: "HVD_Rowdy";
  font-size: 1rem;
}

.button-facebook, .button-twitter {
  color: #000;
  font-family: "GMX";
  font-size: 1rem;
}

.button-container {
  position: relative;
  width: 35px;
  height: 27px;
  cursor: pointer;
  transition: opacity .25s ease;
  z-index: 10;
}

.button-container span {
  background: #FFF;
  border: none;
  height: 5px;
  width: 35px;
  position: absolute;
  top: 0;
  left: 0;
  transition: all .35s ease;
  cursor: pointer;
}

.button-container:hover {
  opacity: .7;
}

.button-container.active .top {
  transform: translateY(11px) translateX(0) rotate(45deg);
  background: #FFF;
}

.button-container.active .middle {
  opacity: 0;
  background: #FFF;
}

.button-container.active .bottom {
  transform: translateY(-11px) translateX(0) rotate(-45deg);
  background: #FFF;
}

.button-container span:nth-of-type(2) {
  top: 11px;
}

.button-container span:nth-of-type(3) {
  top: 22px;
}

.overlay {
  z-index: 2;
  position: fixed;
  background: #000;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  transition: opacity .35s, visibility .35s, height .35s;
  overflow: hidden;
}

.overlay.open {
  opacity: .9;
  visibility: visible;
  height: 100%;
}

.overlay.open li {
  animation: fadeInRight .5s ease forwards;
  animation-delay: .35s;
}

.overlay.open li:nth-of-type(2) {
  animation-delay: .4s;
}

.overlay.open li:nth-of-type(3) {
  animation-delay: .45s;
}

.overlay.open li:nth-of-type(4) {
  animation-delay: .5s;
}

.overlay.open li:nth-of-type(5) {
  animation-delay: .55s;
}

.overlay.open li:nth-of-type(6) {
  animation-delay: .6s;
}

.overlay nav {
  position: relative;
  height: 70%;
  top: 55%;
  transform: translateY(-50%);
  font-size: 50px;
  font-weight: 400;
  text-align: center;
}

.overlay ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  height: 100%;
}

.overlay ul li {
  display: block;
  height: 4%;
  min-height: 60px;
  position: relative;
  opacity: 0;
}

.overlay ul li a {
  font-family: "HVD_Rowdy";
  font-size: 1.3rem;
  text-align: center;
  display: block;
  position: relative;
  color: #FFF;
  overflow: hidden;
  transition: .35s;
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }

  100% {
    opacity: 1;
    left: 0;
  }
}

/* ----------------------- PARALLAX ----------------------- */
.parallax {
  min-height: 700px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.cover {
  background-image: url("work/models/memorica/recursos/img/champoton/splash-background.jpg");
}

.first {
  background-image: url("work/models/memorica/recursos/img/champoton/sala1.jpg");
}

.second {
  background-image: url("work/models/memorica/recursos/img/champoton/sala2.jpg");
}

.third {
  background-image: url("work/models/memorica/recursos/img/champoton/sala3.jpg");
}

.last {
  background-image: url("work/models/memorica/recursos/img/champoton/creditos.jpg");
}

/* ----------------------- SALAS ----------------------- */
.go-to img {
  max-height: 500px;
}

/* ----------------------- CREDITEA ----------------------- */
.centered-list, .centered-list ul, .centered-list li {
  text-align: center;
  list-style-type: none;
  padding-left: 0;
}

/* ----------------------- MEDIA QUERIES ----------------------- */
/* Extra large devices (large desktops, 1200px and up) */
@media only screen and (max-width: 1366px) {
  html {
    font-size: 20px;
  }

  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  h5 {
    font-size: 1.5rem;
  }

  a {
    color: #FFF;
    line-height: 1.3rem;
  }

  a.caption, p.caption {
    margin-top: 1rem;
  }

  .mini {
    width: 7%;
  }

  .parallax {
    min-height: 500px;
  }

  .overlay nav {
    height: 40%;
    top: 50%;
  }

  .overlay ul li {
    height: 10%;
    min-height: 50px;
  }
}

/* Large devices (desktops and large tablets) */
@media only screen and (max-width: 1024px) {
  html {
    font-size: 19px;
  }

  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  h5 {
    font-size: 1.5rem;
  }

  a {
    color: #FFF;
    line-height: 1.3rem;
  }

  a.caption, p.caption {
    margin-top: 1rem;
  }

  .mini {
    width: 9.5%;
  }

  .parallax {
    min-height: 500px;
  }

  .overlay nav {
    height: 40%;
    top: 50%;
  }

  .overlay ul li {
    height: 10%;
    min-height: 50px;
  }
}

/* Medium devices (small tablets, and landscape phones maybe?) */
@media only screen and (min-width: 551px) and (max-width: 736px)  {
  html {
    font-size: 20px;
  }

  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  h5 {
    font-size: 1.3rem;
  }

  a {
    color: #FFF;
    line-height: 1.3rem;
  }

  a.caption, p.caption {
    margin-top: 1rem;
  }

  .mini {
    width: 12.5%;
  }

  .parallax {
    min-height: 300px;
  }

  .overlay nav {
    height: 40%;
    top: 40%;
  }

  .overlay ul li {
    height: 4%;
    min-height: 40px;
  }
}

/* Small devices (most smartphones and smartphone sized devices) */
@media only screen and (max-width: 550px) {
  html {
    font-size: 18px;
  }

  h1 {
    font-size: 2.7rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1rem;
  }

  h5 {
    font-size: 1.3rem;
  }

  a {
    color: #FFF;
    line-height: 1.3rem;
  }

  a.caption, p.caption {
    margin-top: 1rem;
  }

  .mini {
    width: 23%;
  }

  .parallax {
    min-height: 200px;
  }

  .overlay nav {
    height: 40%;
    top: 45%;
  }

  .overlay ul li {
    height: 4%;
    min-height: 50px;
  }

  .cover {
    background-image: url("work/models/memorica/recursos/img/champoton/splash-background-sm.jpg");
    background-attachment: inherit;
  }

  .first {
    background-image: url("work/models/memorica/recursos/img/champoton/sala1-sm.jpg");
    background-attachment: inherit;
  }

  .second {
    background-image: url("work/models/memorica/recursos/img/champoton/sala2-sm.jpg");
    background-attachment: inherit;
  }

  .third {
    background-image: url("work/models/memorica/recursos/img/champoton/sala3-sm.jpg");
    background-attachment: inherit;
  }

  .last {
    background-image: url("work/models/memorica/recursos/img/champoton/creditos-sm.jpg");
    background-attachment: inherit;
  }
}

/* Extra small devices (cellular telephones, 10px and up) */
@media only screen and (max-width: 321px) {
  html {
    font-size: 16px;
  }

  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1rem;
  }

  h5 {
    font-size: 1rem;
  }

  a {
    color: #FFF;
    line-height: 1.3rem;
  }

  a.caption, p.caption {
    margin-top: 1rem;
  }

  .mini {
    width: 30%;
  }

  .parallax {
    min-height: 200px;
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .overlay nav {
    height: 70%;
    top: 55%;
  }

  .overlay ul li {
    min-height: 50px;
  }

  .cover {
    background-image: url("work/models/memorica/recursos/img/champoton/splash-background-sm.jpg");
    background-attachment: inherit;
  }

  .first {
    background-image: url("work/models/memorica/recursos/img/champoton/sala1-sm.jpg");
    background-attachment: inherit;
  }

  .second {
    background-image: url("work/models/memorica/recursos/img/champoton/sala2-sm.jpg");
    background-attachment: inherit;
  }

  .third {
    background-image: url("work/models/memorica/recursos/img/champoton/sala3-sm.jpg");
    background-attachment: inherit;
  }

  .last {
    background-image: url("work/models/memorica/recursos/img/champoton/creditos-sm.jpg");
    background-attachment: inherit;
  }
}
