/* ----------------------- FUENTES ----------------------- */
@font-face {
  font-family: "HVD_Rowdy";
  src: url(work/models/memorica/recursos/Type/HVD_Rowdy.otf) format("opentype");
  font-style: normal;
  -webkit-font-smoothing: subpixel-antialiased;
}

@font-face {
  font-family: "Bodoni";
  src: url(work/models/memorica/recursos/Type/Bodoni_72.ttc) format("truetype");
  font-style: normal;
  -webkit-font-smoothing: subpixel-antialiased;
}

/* ----------------------- GENERAL ----------------------- */
html {
  font-size: 24px;
}

body {
  background-color: #000;
}

h1 {
  color: #FFF;
  font-family: "HVD_Rowdy";
  font-size: 5.5rem;
  text-align: center;
}

h2 {
  color: #FFF;
  font-family: "HVD_Rowdy";
  font-size: 2rem;
  text-align: center;
}

h3 {
  color: #FFF;
  font-family: "HVD_Rowdy";
  font-size: 1.5rem;
  text-align: center;
}

h5 {
  color: #FFF;
  font-family: "Bodoni";
  font-size: 2em;
}

p, li {
  color: #FFF;
  font-family: "Bodoni";
  text-align: justify;
}

a.caption {
  font-family: "Bodoni";
  font-style: italic;
  text-align: center;
  color: #FFF;
  margin-top: 1rem;
}

/* ----------------------- MENU ----------------------- */
.mini {
  width: 5.3%;
}

.button-container {
  position: relative;
  width: 35px;
  height: 27px;
  cursor: pointer;
  transition: opacity .25s ease;
  z-index: 10;
}

.button-container span {
  background: #FFF;
  border: none;
  height: 5px;
  width: 35px;
  position: absolute;
  top: 0;
  left: 0;
  transition: all .35s ease;
  cursor: pointer;
}

.button-container:hover {
  opacity: .7;
}

.button-container.active .top {
  transform: translateY(11px) translateX(0) rotate(45deg);
  background: #FFF;
}

.button-container.active .middle {
  opacity: 0;
  background: #FFF;
}

.button-container.active .bottom {
  transform: translateY(-11px) translateX(0) rotate(-45deg);
  background: #FFF;
}

.button-container span:nth-of-type(2) {
  top: 11px;
}

.button-container span:nth-of-type(3) {
  top: 22px;
}

.overlay {
  z-index: 2;
  position: fixed;
  background: #000;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  transition: opacity .35s, visibility .35s, height .35s;
  overflow: hidden;
}

.overlay.open {
  opacity: .9;
  visibility: visible;
  height: 100%;
}

.overlay.open li {
  animation: fadeInRight .5s ease forwards;
  animation-delay: .35s;
}

.overlay.open li:nth-of-type(2) {
  animation-delay: .4s;
}

.overlay.open li:nth-of-type(3) {
  animation-delay: .45s;
}

.overlay.open li:nth-of-type(4) {
  animation-delay: .5s;
}

.overlay.open li:nth-of-type(5) {
  animation-delay: .55s;
}

.overlay.open li:nth-of-type(6) {
  animation-delay: .6s;
}

.overlay nav {
  position: relative;
  height: 70%;
  top: 45%;
  transform: translateY(-50%);
  font-size: 50px;
  font-weight: 400;
  text-align: center;
}

.overlay ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  height: 100%;
}

.overlay ul li {
  display: block;
  height: 4%;
  min-height: 50px;
  position: relative;
  opacity: 0;
}

.overlay ul li a {
  font-family: "HVD_Rowdy";
  font-size: 1.3rem;
  text-align: center;
  display: block;
  position: relative;
  color: #FFF;
  overflow: hidden;
  transition: .35s;
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }

  100% {
    opacity: 1;
    left: 0;
  }
}

/* ----------------------- PARALLAX ----------------------- */
.parallax {
  /* Set a specific height */
  min-height: 700px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.cover {
  background-image: url("work/models/memorica/recursos/img/champoton/splash-background.jpg");
}

.first {
  background-image: url("work/models/memorica/recursos/img/champoton/sala1.jpg");
}

.second {
  background-image: url("work/models/memorica/recursos/img/champoton/sala2.jpg");
}

.third {
  background-image: url("work/models/memorica/recursos/img/champoton/sala3.jpg");
}

.last {
  background-image: url("work/models/memorica/recursos/img/champoton/splash-background.jpg");
}

/* ----------------------- SALAS ----------------------- */
.go-to img {
  max-height: 500px;
}
